@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Colours */
    --color-green-100: #2E4845;
    --color-green-200: #253F3C;
    --color-white-100: #F7FAF6;
    --color-white-200: #F1F3F0;
    --color-white-300: #CAD1CE;

    --color-red: #E83644;
    --color-orange: #FF8C21;
    --color-green: #00B453;

    /* Typography Font Families: */
    --font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    /* Typography Scale (min 375px -> max 1440px viewports): */
    --font-heading-l: clamp(35px, 2.5vw + 1rem, 50px);
    --leading-heading-l: clamp(45px, 3vw + 1rem, 60px);
    --tracking-heading-l: -1px;

    --font-heading-m: clamp(30px, 1.8vw + 0.8rem, 40px);
    --leading-heading-m: clamp(38px, 2vw + 0.8rem, 47px);
    --tracking-heading-m: -1px;

    --font-heading-s: clamp(25px, 1.5vw + 0.5rem, 30px);
    --leading-heading-s: clamp(30px, 1.5vw + 0.6rem, 40px);
    --tracking-heading-s: -1px;

    --font-heading-xs: clamp(18px, 1.2vw + 0.4rem, 20px);
    --leading-heading-xs: clamp(26px, 1.2vw + 0.4rem, 40px);
    --tracking-heading-xs: 0px;

    --font-subheading: 10px;
    --leading-subheading: 100%;
    --tracking-subheading: 2px;

    --font-body: 14px;
    --leading-body: 26px;
    --tracking-body: 0px;

    --font-body-s: clamp(10px, 2vw + 8px, 12px);
    --leading-body-s: 16px;
    --tracking-body-s: 0px;

    --font-button: 12px;
    --leading-button: 12px;
    --tracking-button: 0px;

    --tracking-logo: 2.5px;

    /* Spacing */
    --spacing-4: 4px;
    --spacing-6: 6px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-15: 15px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-30: 30px;
    --spacing-40: 40px;
    --spacing-50: 50px;
    --spacing-60: 60px;
    --spacing-68: 68px;
    --spacing-80: 80px;
    --spacing-90: 90px;
    --spacing-100: 100px;
    --spacing-120: 120px;
    --spacing-130: 130px;
    --spacing-160: 160px;

    /* Containers: */
    --max-width-xs: 400px;
    --max-width-sm: 610px;
    --max-width-md: 820px;
    --max-width-lg: 1030px;
    --max-width-xl: 1240px;
    --max-width-xxl: 1340px;
}

@layer base {
    html {
        font-family: var(--font-family);
        font-size: var(--font-body);
        line-height: var(--leading-body);
        letter-spacing: var(--tracking-body);
        color: var(--color-green-100);
        background-color: var(--color-white-100);
    }

    body {
        margin: 0;
        padding: 0;
        background-color: var(--color-white-100);
    }

    h1 {
        font-size: var(--font-heading-l);
        line-height: var(--leading-heading-l);
        letter-spacing: var(--tracking-heading-l);
        font-weight: 700;
        color: var(--color-green-200);
    }

    h2 {
        font-size: var(--font-heading-m);
        line-height: var(--leading-heading-m);
        letter-spacing: var(--tracking-heading-m);
        font-weight: 600;
        color: var(--color-green-200);
    }

    h3 {
        font-size: var(--font-heading-s);
        line-height: var(--leading-heading-s);
        letter-spacing: var(--tracking-heading-s);
        color: var(--color-green-100);
    }

    p {
        font-size: var(--font-body);
        line-height: var(--leading-body);
        letter-spacing: var(--tracking-body);
        margin-top: 0;
    }

    a {
        color: var(--color-green-100);
        text-decoration: underline;
        transition: color 0.3s ease;
    }
    a:hover,
    a:focus {
        color: var(--color-green-200);
        text-decoration: none;
    }

    ul,
    ol {
        padding-left: 0;
        margin: 0;
    }

    .button-element {
        font-size: var(--font-button);
        line-height: var(--leading-button);
        letter-spacing: var(--tracking-button);
        cursor: pointer;
        background-color: transparent;
        color: var(--color-green-100);
        border: 1px solid var(--color-green-100);
        padding: var(--spacing-15) var(--spacing-20);
        border-radius: 60px;
        transition: background-color 0.3s ease;
    }

    .button-element:hover {
        background-color: var(--color-green-100);
    }

    .button-element:hover a {
        color: var(--color-white-100);
    }

    .button-element:hover a:after {
        content: url('./button-arrow-icon-light.svg');
    }

    button a {
        display: flex;
        align-items: center;
        gap: var(--spacing-20);
        text-decoration: none;
        line-height: 1;
        transition: color 0.3s ease;
    }
    
    button a:after {
        content: url('./button-arrow-icon.svg');
    }

    img {
        width: 100%;
        height: auto;
    }

    footer a, nav a {
      position: relative;
    }

    footer a:after, nav a:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 0;
        background-color: currentColor;
        transition: width 0.3s ease;
    }

    footer a:hover::after, nav a:hover::after {
        width: 100%;
    }
}

@layer utilities {
    /* Typography: */
    .typo-heading-l {
        font-size: var(--font-heading-l);
        line-height: var(--leading-heading-l);
        letter-spacing: var(--tracking-heading-l);
    }

    .typo-heading-m {
        font-size: var(--font-heading-m);
        line-height: var(--leading-heading-m);
        letter-spacing: var(--tracking-heading-m);
    }

    .typo-heading-s {
        font-size: var(--font-heading-s);
        line-height: var(--leading-heading-s);
        letter-spacing: var(--tracking-heading-s);
    }

    .typo-heading-xs {
        font-size: var(--font-heading-xs);
        line-height: var(--leading-heading-xs);
        letter-spacing: var(--tracking-heading-xs);
    }

    .typo-subheading {
        font-size: var(--font-subheading);
        line-height: var(--leading-subheading);
        letter-spacing: var(--tracking-subheading);
    }

    .typo-body {
        font-size: var(--font-body);
        line-height: var(--leading-body);
        letter-spacing: var(--tracking-body);
    }

    .typo-body-s {
        font-size: var(--font-body-s);
        line-height: var(--leading-body-s);
        letter-spacing: var(--tracking-body-s);
    }

    .typo-button {
        font-size: var(--font-button);
        line-height: var(--leading-button);
        letter-spacing: var(--tracking-button);
    }

    .font-light {
        font-weight: 300;
    }

    .font-regular {
        font-weight: 400;
    }

    .font-medium {
        font-weight: 500;
    }

    .font-bold {
        font-weight: 700;
    }

    /* Containers: */
    .container-sm {
        max-width: var(--max-width-sm);
        margin-left: 0;
        margin-right: auto;
    }

    .container-md {
        max-width: var(--max-width-md);
        margin-left: 0;
        margin-right: auto;
    }

    .container-lg {
        max-width: var(--max-width-lg);
        margin-left: 0;
        margin-right: auto;
    }

    .container-xl {
        max-width: var(--max-width-xl);
        margin-left: 0;
        margin-right: auto;
    }

    .container-xxl {
        max-width: var(--max-width-xxl);
        margin-left: auto;
        margin-right: auto;
    }

    /* Misc: */
    .link-reset {
        text-decoration: none;
        color: inherit;
    }

    .ml-responsive {
        margin-left: clamp(0px, calc(210 * ((100vw - 375px) / 865)), 210px);
    }

    .top-left {
        top: 0;
        left: 0;
    }

    .text-narrow {
        max-width: 515px;
    }

    /* Image Grid Component: */
    .image-grid {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-20);
        max-width: var(--max-width-xl);
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }

    .image-grid li {
        margin: 0;
        list-style: none;
        flex: 0 1 100%;
        min-height: 350px;
    }

    .image-grid li img {
        min-height: 350px;
    }

    @media (min-width: 768px) {
        .image-grid li {
            flex: 0 1 auto;
        }

        .image-grid li:nth-child(7n + 1) {
            flex: 0 1 calc(67.21311475% - 0.6721311475 * var(--spacing-20));
        }
        .image-grid li:nth-child(7n + 2) {
            flex: 0 1 calc(32.78688525% - 0.3278688525 * var(--spacing-20));
        }

        .image-grid li:nth-child(7n + 3) {
            flex: 0 1 100%;
        }

        .image-grid li:nth-child(7n + 4),
        .image-grid li:nth-child(7n + 5) {
            flex: 0 1 calc(50% - (var(--spacing-20) / 2));
        }

        .image-grid li:nth-child(7n + 6) {
            flex: 0 1 calc(32.78688525% - 0.3278688525 * var(--spacing-20));
        }
        .image-grid li:nth-child(7n + 7) {
            flex: 0 1 calc(67.21311475% - 0.6721311475 * var(--spacing-20));
        }
    }

    @media (max-width: 767px) {
        .image-grid li {
            flex: 0 1 100%;
        }
    }

    .image-grid img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .framework-footer-logo {
        width: 73px;
        height: auto;
    }

    footer .nav-menu-wrapper {
        flex-direction: column;

        @media(min-width: 768px) {
            flex-direction: row;
        }
    }

    .overflow-image {
        width: 106%;
        min-height: 315px;
    }
}
